In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/data.csv')

In [4]:
df.head(-5)

,area,adress,price,price_per_sqm,monthly_fee,size_in_sqm,date_sold
0,Södermalm,"Götgatan 128, 3tr",4850000,74615,2798.0,65,2023-02-03
1,Årsta,Möckelvägen 32,2650000,63095,3281.0,42,2023-02-03
2,Södermalm,Heleneborgsgatan 30,4500000,97826,2451.0,46,2023-02-02
3,Östermalm,"Körsbärsvägen 10, 5tr",5025000,94811,2664.0,53,2023-02-02
4,Vasastan,"Anna Steckséns Gata 15, 10 tr",4900000,128947,2387.0,38,2023-02-02
...,...,...,...,...,...,...,...
2130,Fredhäll,Rålambsvägen 52,4150000,97647,2244.0,42,2022-02-14
2131,Vasastan,Rörstrandsgatan 27,5035000,125875,1364.0,40,2022-02-14
2132,Årsta,Tämnarvägen 36,3550000,64545,3057.0,55,2022-02-14
2133,Fredhäll,"Adlerbethsgatan 15, 2tr",4700000,102174,2630.0,46,2022-02-13
2134,Vasastan,"Vanadisvägen 4, 2tr",6200000,89855,2526.0,69,2022-02-12

Avg. price of apt over areas

Avg. price per sqr over areas

Avg. size of the apt over areas

Avg. monthly fee over areas

Top xx highest and lowest prices of apts

Check std of the prices per area to see if median or mean makes sense

Price over time and areas

In [40]:
# Group the data by area and calculate the desired statistics
grouped = df.groupby('area').agg(['mean', 'std', 'min', 'max', lambda x: x.quantile(0.25), lambda x: x.quantile(0.5), lambda x: x.quantile(0.75)])

# Rename the columns to be more descriptive
grouped.columns = [f"{col}_{agg}" if agg != '' else col for col, agg in grouped.columns]

# Print the grouped data
print(grouped)

             price_mean     price_std  price_min  price_max  price_<lambda_0>  \
area
Fredhäll   3.831937e+06  5.414997e+05    2900000    5925000         3440000.0
Södermalm  4.933967e+06  1.234946e+06    2700000   10200000         4000000.0
Vasastan   5.622728e+06  1.556742e+06    2850000   25900000         4500000.0
Årsta      3.149956e+06  4.806479e+05    2070000    4960000         2825000.0
Östermalm  6.633089e+06  1.717668e+06    3100000   11900000         5412500.0

           price_<lambda_1>  price_<lambda_2>
area
Fredhäll          3800000.0         4175000.0
Södermalm         4700000.0         5675000.0
Vasastan          5410000.0         6500000.0
Årsta             3050000.0         3400000.0
Östermalm         6400000.0         7662500.0